#container {
    height: 780px;
    width: 100%;
    overflow: hidden;
    background-color: rgb(240,240,245);
    border-radius: 5px;
    z-index: -1000;
}


#nav{
    background-color: rgb(146,194,205);
    height: 70px;
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 50px -20px black;
    z-index: 11;
}

a{
    text-decoration: none;
}

#nav p{
    color: rgb(240,240,245);
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    padding: 23px 35px 0 12px;
    height: 70px;
    display: inline-block;
    transition: .2s ease;
    z-index: 10;
    font-family: Helvetica;
    
    
}

#nav p:hover {
    color: rgb(100,100,100);
}

#mainwall {
    height: 100%;
    width: 100%;
    padding-top: 0px;
    opacity: 0.9;
    z-index: 15;
}

/*---------------------------------*/
/* Dropdown Button */
#dropbtn {
    transition: .7s ease;
    padding: 15px;
    border: none;
    background-color: rgb(146, 194, 205);
}


/* Lines in dropdown button*/
.line {
    background-color: rgb(146, 194, 205);
    width: 20px;
    height: 4px;
    border: 1px;
}


/* Individual lines of dropdown button */

#line1 {
    width: 35px;
    height: 5px;
    background-color: rgb(240, 240, 245);
    margin: 6px 0;
}

#line2 {
    width: 35px;
    height: 5px;
    background-color: rgb(240, 240, 245);
    margin: 6px 0;
}

#line3 {
    width: 35px;
    height: 5px;
    background-color: rgb(240, 240, 245);
    margin: 6px 0;
}


/* The container <div> - to position the dropdown content */
#dropdown {
    position: relative;
    display: inline-block;
    float: right;
    background-color: black;
}


/* Dropdown Content (Hidden by Default) */
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-family: Helvetica;
    min-width: 160px;
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.2);
    right: 0;
}


/* Stuff/links inside the dropdown */
#dropdown-content a {
    color: rgb(100, 100, 100);
    padding: 12px 16px;
    text-decoration:none;
    display: block;
    right: 0;
}


/* Change color of dropdown on hover */
#dropdown-content a:hover {background-color: rgb(222, 189, 215); transition: .5s ease;
}

/* Show the dropdown menu */
#dropdown:hover #dropdown-content {display: block;}

/* Change the background color of the dropdown */
#dropdown:hover .line {background-color: rgb(100, 100, 100);}

#test{

}

/*

Colors:

222, 189, 215 - pink
146, 194, 205 - dark blue
279, 174, 146 - orange
240, 240, 245 - "white"

*/